.navContainer {
  @apply w-full transition-shadow duration-500
    flex justify-between items-center
    shadow-md border-b-[2px] border-amber-400/20
    fixed top-0 z-[100]
    lg:px-10 py-2 lg:py-4;
}

.mobileMenuItems {
  @apply w-36 h-12
  hover:bg-gray-400/40 
  hover:dark:bg-gray-200/40 
    hover:opacity-60 
    rounded-md cursor-pointer;
}

.desktopMenuItems {
  @apply px-6 h-12
    hover:bg-gray-300/40
    hover:dark:bg-gray-200/40
    hover:border-amber-500 
    hover:border-r-[8px]
    transition-all duration-300
    flex justify-center items-center rounded-md
    cursor-pointer;
}

.mobileLoginBtn {
  @apply text-[#0d1626] w-36 h-10 
  bg-amber-500 rounded-md
  hover:shadow-xl hover:shadow-amber-500/40
  transition-shadow duration-500;
}

.desktopLoginBtn {
  @apply text-[#0d1626] 
  w-28 h-10 hidden lg:block 
  bg-amber-500 rounded-md
  hover:shadow-xl hover:shadow-amber-500/40
  transition-shadow duration-300;
}
